In [1]:
import pandas as pd
import os
import csv

In [2]:
film_dir = 'dat'
movie_data_file = 'movies.dat'
rating_data_file = 'ratings.dat'
user_data_file = 'users.dat'

In [3]:
Ages = {1: "under 18", 18: "18-24", 25: "25-34", 35: "35-44", 45: "45-49", 50: "50-55", 56: "56+"}
Occupations = {0: "other or not specified", 1: "academic/educator", 2: "artist", 
               3: "clerical/admin", 4: "college/gead student", 5: "customer service", 
               6: "doctor/health care", 7: "executive/managerial", 8: "farmer", 
               9: "homemaker", 10: "K-12 student", 11: "lawyer", 12: "programmer", 
               13: "retired", 14: "sales/marketing", 15: "scientist", 16: "self-employed", 
               17: "technician/engineer", 18: "tradesman/craftsman", 19: "unemployed", 20: "writer"}

In [4]:
movies_csv_file = 'movies.csv' 
ratings_csv_file = 'ratings.csv'
users_data_file = 'users.csv'

In [9]:
df = pd.read_table('dat/movies.dat', encoding = 'latin-1') 
# df.to_excel('dat/movies.csv', encoding = 'latin-1') 
df

     1::Toy Story (1995)::Animation|Children's|Comedy
0     2::Jumanji (1995)::Adventure|Children's|Fantasy
1          3::Grumpier Old Men (1995)::Comedy|Romance
2           4::Waiting to Exhale (1995)::Comedy|Drama
3       5::Father of the Bride Part II (1995)::Comedy
4               6::Heat (1995)::Action|Crime|Thriller
...                                               ...
3877            3948::Meet the Parents (2000)::Comedy
3878          3949::Requiem for a Dream (2000)::Drama
3879                    3950::Tigerland (2000)::Drama
3880             3951::Two Family House (2000)::Drama
3881      3952::Contender, The (2000)::Drama|Thriller

[3882 rows x 1 columns]